<!DOCTYPE html>
<html>
<body>
  <p style="background-color:SlateBlue  (255, 71, 83);">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Social data prediction</title>
<h1> <center> <b>purchased Accuracy </b></center></h1>

<form action="/prediction",background-color="blue">
  <center>
    <label for="AGE">Enter AGE:</label><br>
    <input type="number" id="AGE" name="AGE">   <br>
    <label for="EstimatedSalary">Enter EstimatedSalary:</label><br>
    <input type="number" id="EstimatedSalary" name="EstimatedSalary"><br>
    <input type="submit" value="submit"></center> <br>